body {
  background-color: whitesmoke;
}

.todo-app {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  padding: 30px;
}

.todo-list {
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 80%;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #111111;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

input {
  font-size: 20px;
}

button {
  font-size: 20px;
}

.done {
  color: #888888;
  text-decoration: line-through;
}
